# Gem
Gemfile.lock

# fastlane
fastlane/test_output
fastlane/report.xml

# CocoaPods
Pods
Podfile.lock

# Xcode
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata 
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.ipa
*.zip
Build
.svn
.DS_Store
